#nprogress .bar {
  background: rgba(239, 68, 68);
  height: 2px;
}

#nprogress .bar {
  background: rgba(239, 68, 68);
  height: 2px;
}

#nprogress .peg {
  box-shadow: rgba(239, 68, 68);
}

#nprogress .spinner-icon {
  border-color: rgba(239, 68, 68);
}